## ML test on 15May2022

### 1. Cellphone Dataset

### NaiveBayes :

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [3]:
dfcellph = pd.read_csv('D:\Datascience\inceptez\Preprocessing\Cellphone.csv')
dfcellph

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [5]:
dfcellph.shape

(2000, 21)

In [6]:
dfcellph.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [7]:
x = dfcellph.drop('price_range',axis=1)
y = dfcellph['price_range']

In [8]:
x

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [14]:
y.value_counts()

1    500
2    500
3    500
0    500
Name: price_range, dtype: int64

In [15]:
x.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,9.916500,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,6.064315,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,0.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,5.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,10.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,15.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,20.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x, y,test_size=.25,random_state=2)

In [31]:
model = GaussianNB()

In [32]:
model.fit(x_train,y_train)

GaussianNB()

In [33]:
y_prd = model.predict(x_test)

In [34]:
acc_score = accuracy_score(y_test,y_prd)

In [35]:
print(acc_score)

0.846

In [36]:
confusion_matrix(y_test,y_prd)

array([[116,   6,   0,   0],
       [ 18, 101,  14,   0],
       [  0,  18,  87,  14],
       [  0,   0,   7, 119]], dtype=int64)

In [37]:
print(classification_report(y_test,y_prd))

              precision    recall  f1-score   support

           0       0.87      0.95      0.91       122
           1       0.81      0.76      0.78       133
           2       0.81      0.73      0.77       119
           3       0.89      0.94      0.92       126

    accuracy                           0.85       500
   macro avg       0.84      0.85      0.84       500
weighted avg       0.84      0.85      0.84       500

#### Cell Phone Predict:

In [77]:
cell_pred = model.predict([[563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0]])
if cell_pred[0] == 0:
    print('LOW PRICE')
if cell_pred[0] == 1:
    print('MEDIUM PRICE')
if cell_pred[0] == 2:
    print('HIGH PRICE')
if cell_pred[0] == 3:
    print('VERY HIGH PRICE')        
print(cell_pred)

HIGH PRICE
[2]

 ### KNN

In [79]:
from sklearn.neighbors import KNeighborsClassifier
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

In [80]:
knn = KNeighborsClassifier(n_neighbors=5)

In [81]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [83]:
knn.score(x_test,y_test)

0.924

In [92]:
cell_pred = knn.predict([[563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0]])
if cell_pred[0] == 0:
    print('LOW PRICE')
if cell_pred[0] == 1:
    print('MEDIUM PRICE')
if cell_pred[0] == 2:
    print('HIGH PRICE')
if cell_pred[0] == 3:
    print('VERY HIGH PRICE')        
print(cell_pred)

HIGH PRICE
[2]

### 2. Fraud Detection Dataset:

### Naive Bayes and KNN

In [96]:
dffrddet = pd.read_csv('D:\Datascience\inceptez\Preprocessing\Fraud-Det.csv')
dffrddet

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.00,0.00,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.00,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.00,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.00,0.00,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
100160,10,CASH_IN,61054.02,C1657461053,11600000.0,11700000.00,C622723232,1054868.85,993814.83,0
100161,10,CASH_IN,347608.07,C199435243,11700000.0,12000000.00,C1029211742,1814256.11,3246825.50,0
100162,10,CASH_IN,68846.64,C975194954,12000000.0,12100000.00,C355970563,1622436.37,2287253.07,0
100163,10,CASH_IN,48078.78,C1122979545,12100000.0,12200000.00,C589884531,410069.03,161779.60,0
100164,10,CASH_IN,74136.40,C1985504392,12200000.0,12200000.00,C182799539,2559340.41,2951740.12,0

In [98]:
dffrddet.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
count,100165.000000,1.001650e+05,1.001650e+05,1.001650e+05,1.001650e+05,1.001650e+05,100165.000000
mean,8.502112,1.736458e+05,8.801756e+05,8.965348e+05,8.810839e+05,1.184639e+06,0.001158
std,1.825055,3.442910e+05,2.676095e+06,2.714232e+06,2.402387e+06,2.802252e+06,0.034011
min,1.000000,3.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,8.000000,9.970160e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
50%,9.000000,5.285289e+04,2.008500e+04,0.000000e+00,2.091500e+04,5.048120e+04,0.000000
75%,10.000000,2.119434e+05,1.910560e+05,2.154246e+05,5.891912e+05,1.061043e+06,0.000000
max,10.000000,1.000000e+07,3.380000e+07,3.400000e+07,3.400000e+07,3.890000e+07,1.000000

In [99]:
dffrddet['isFraud'].value_counts()

0    100049
1       116
Name: isFraud, dtype: int64

In [101]:
dffrddet.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud'],
      dtype='object')

In [123]:
dffrddet['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [150]:
dffrddet['type_label']= np.where(dffrddet['type']=='PAYMENT',1,
                                 (np.where(dffrddet['type']=='TRANSFER',2,(np.where(dffrddet['type']=='CASH_OUT',3,(np.where(dffrddet['type']=='CASH_IN',4,5)))))))
dffrddet

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,type_label
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.00,0.00,0,1
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.00,0.00,0,1
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.00,0.00,1,2
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.00,0.00,1,3
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.00,0.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...
100160,10,CASH_IN,61054.02,C1657461053,11600000.0,11700000.00,C622723232,1054868.85,993814.83,0,4
100161,10,CASH_IN,347608.07,C199435243,11700000.0,12000000.00,C1029211742,1814256.11,3246825.50,0,4
100162,10,CASH_IN,68846.64,C975194954,12000000.0,12100000.00,C355970563,1622436.37,2287253.07,0,4
100163,10,CASH_IN,48078.78,C1122979545,12100000.0,12200000.00,C589884531,410069.03,161779.60,0,4
100164,10,CASH_IN,74136.40,C1985504392,12200000.0,12200000.00,C182799539,2559340.41,2951740.12,0,4

In [151]:
dffrddet['type_label'].unique()

array([1, 2, 3, 5, 4])

In [152]:
x1= dffrddet[['step','type_label','amount','oldbalanceOrg','newbalanceOrig','oldbalanceDest','newbalanceDest']]
y1 = dffrddet['isFraud']

In [153]:
x1_train,x1_test,y1_train,y1_test = train_test_split(x1, y1,test_size=.25,random_state=2)

In [159]:
model1 = GaussianNB()
knn1 = KNeighborsClassifier(n_neighbors=5)

In [161]:
model1.fit(x1_train,y1_train)
knn1.fit(x1_train,y1_train)

KNeighborsClassifier()

### NaiveBayes Accracy Score

In [163]:
y_prd_NB = model1.predict(x1_test)

In [166]:
acc_score_NB = accuracy_score(y1_test,y_prd_NB)

In [177]:
print(acc_score_NB)

0.9839469690919256

In [173]:
confusion_matrix(y1_test,y_prd_NB)

array([[24637,   380],
       [   22,     3]], dtype=int64)

In [176]:
print(classification_report(y1_test,y_prd_NB))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99     25017
           1       0.01      0.12      0.01        25

    accuracy                           0.98     25042
   macro avg       0.50      0.55      0.50     25042
weighted avg       1.00      0.98      0.99     25042

### KNN Accracy Score

In [168]:
knn1.score(x1_test,y1_test)

0.999081543007747

### Fraud Detection Test by Naive Bayes

In [170]:
FradDet_pred = model1.predict([[1,1,9839.64,170136,160296.36,0,0]])
if FradDet_pred[0] == 0:
    print('FRAUD')
if FradDet_pred[0] == 1:
    print('NO FRAUD')        
print(FradDet_pred)

FRAUD
[0]

### Fraud Detection Test by KNN

In [172]:
FradDet_pred = knn1.predict([[1,1,9839.64,170136,160296.36,0,0]])
if FradDet_pred[0] == 0:
    print('FRAUD')
if FradDet_pred[0] == 1:
    print('NO FRAUD')        
print(FradDet_pred)

FRAUD
[0]