### Part 2 – Pandas exercise (basic)

### Note: Use automobile dataset for below questions
#### 1. Find the most expensive car company name
#### 2. Count total cars per company
#### 3. Find each company’s highest price car
#### 4. Sort all cars by Price column
#### 5. Group by make, fuel-type and body-style to calculate the average of city-mpg and highwaympg (miles per gallon

In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'D:\Datascience\inceptez\Preprocessing\Auto.csv')

In [7]:
df.head(10)

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,3,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
5,5,2,NaN,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
6,6,1,158.0,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0
7,7,1,NaN,audi,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
8,8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
9,9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN

In [ ]:
#1. Find the most expensive car company name

In [22]:
df['price'].max()

45400.0

In [24]:
#2. Count total cars per company
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [26]:
# 3. Find each company’s highest price car
df.groupby(['make']).max('price')

,Unnamed: 0,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
make,,,,,,,,,,,,,,,,,
alfa-romero,2,3,NaN,94.5,171.2,65.5,52.4,2823,152,3.47,3.47,9.00,154.0,5000.0,21,27,16500.0
audi,9,2,164.0,105.8,192.7,71.4,55.9,3086,136,3.19,3.40,10.00,160.0,5500.0,24,30,23875.0
bmw,17,2,192.0,110.0,197.0,70.9,56.3,3505,209,3.62,3.39,9.00,182.0,5800.0,23,29,41315.0
chevrolet,20,2,121.0,94.5,158.8,63.6,53.2,1909,90,3.03,3.11,9.60,70.0,5400.0,47,53,6575.0
dodge,29,3,148.0,103.3,174.6,66.3,59.8,2811,156,3.60,3.90,9.41,145.0,5500.0,37,41,12964.0
honda,42,2,137.0,96.5,175.4,66.0,58.3,2465,110,3.15,3.58,10.10,101.0,6000.0,49,54,12945.0
isuzu,46,2,NaN,96.0,172.6,65.2,53.5,2734,119,3.43,3.23,9.60,90.0,5400.0,38,43,11048.0
jaguar,49,0,145.0,113.0,199.6,70.6,52.8,4066,326,3.63,4.17,11.50,262.0,5000.0,15,19,36000.0
mazda,66,3,150.0,104.9,177.8,66.5,55.5,2700,140,3.76,3.64,22.70,135.0,6000.0,36,42,18344.0
mercedes-benz,74,3,142.0,120.9,208.1,72.0,58.7,3900,308,3.80,3.64,21.50,184.0,4750.0,22,25,45400.0
mercury,75,1,NaN,102.7,178.4,68.0,54.8,2910,140,3.78,3.12,8.00,175.0,5000.0,19,24,16503.0
mitsubishi,88,3,161.0,96.3,173.2,66.3,51.6,2926,156,3.59,3.86,9.40,145.0,5500.0,37,41,14869.0
nissan,106,3,231.0,100.4,184.6,67.9,56.1,3296,181,3.43,3.47,21.90,200.0,5200.0,45,50,19699.0
peugot,117,0,161.0,114.2,198.9,68.4,58.7,3485,152,3.70,3.52,21.00,142.0,5600.0,28,33,18150.0
plymouth,124,3,154.0,103.3,174.6,66.3,59.8,2818,156,3.59,3.86,9.40,145.0,5500.0,37,41,12764.0
porsche,129,3,186.0,98.4,175.7,72.3,51.6,3366,203,3.94,3.11,10.00,288.0,5900.0,19,28,37028.0
renault,131,2,NaN,96.1,181.5,66.6,55.2,2579,132,3.46,3.90,8.70,NaN,NaN,23,31,9895.0
saab,137,3,150.0,99.1,186.6,66.5,56.1,2847,121,3.54,3.07,9.31,160.0,5500.0,21,28,18620.0
subaru,149,2,102.0,97.2,173.6,65.4,55.7,2650,108,3.62,2.64,9.50,111.0,5200.0,32,37,11694.0
toyota,181,3,197.0,104.5,187.8,67.7,59.1,3151,171,3.62,3.54,22.50,161.0,6600.0,38,47,17669.0
volkswagen,193,3,256.0,100.4,183.1,66.9,55.7,2661,136,3.19,3.40,23.00,110.0,5500.0,37,46,13845.0
volvo,204,-1,103.0,109.1,188.8,68.9,57.5,3217,173,3.78,3.40,23.00,162.0,5500.0,26,28,22625.0

In [28]:
#Sort all cars by Price column
df.sort_values(by=['price'])

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
138,138,2,83.0,subaru,gas,std,two,hatchback,fwd,front,...,97,2bbl,3.62,2.36,9.0,69.0,4900.0,31,36,5118.0
18,18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151.0
50,50,1,104.0,mazda,gas,std,two,hatchback,fwd,front,...,91,2bbl,3.03,3.15,9.0,68.0,5000.0,30,31,5195.0
150,150,1,87.0,toyota,gas,std,two,hatchback,fwd,front,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,35,39,5348.0
76,76,2,161.0,mitsubishi,gas,std,two,hatchback,fwd,front,...,92,2bbl,2.97,3.23,9.4,68.0,5500.0,37,41,5389.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,...,304,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,45400.0
9,9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN
44,44,1,NaN,isuzu,gas,std,two,sedan,fwd,front,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
45,45,0,NaN,isuzu,gas,std,four,sedan,fwd,front,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
129,129,1,NaN,porsche,gas,std,two,hatchback,rwd,front,...,203,mpfi,3.94,3.11,10.0,288.0,5750.0,17,28,NaN

In [30]:
#5. Group by make, fuel-type and body-style to calculate the average of city-mpg and highwaympg (miles per gallon
df.groupby(['make','fuel_type','body_style']).agg({'city_mpg':'mean', 
                         'highway_mpg':'mean'})

                                    city_mpg  highway_mpg
make        fuel_type body_style
alfa-romero gas       convertible  21.000000    27.000000
                      hatchback    19.000000    26.000000
audi        gas       hatchback    16.000000    22.000000
                      sedan        19.400000    24.400000
                      wagon        19.000000    25.000000
...                                      ...          ...
volkswagen  gas       sedan        25.200000    31.600000
                      wagon        25.000000    31.000000
volvo       diesel    sedan        26.000000    27.000000
            gas       sedan        20.428571    25.571429
                      wagon        21.333333    26.000000

[66 rows x 2 columns]